 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 20px;
}


.hero-img {
    background-image: url(Images/heroimg1.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0 9px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hero-img h1 {
    text-align: center;
    margin: auto;
    padding: 37vh;
    font-size: 2.5rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1em;
  align-items: center;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  opacity: 0;
  font-family: 'Red Hat Text', sans-serif;
}

nav a {
    text-decoration: none;
    color: #dbd7d7;
}

nav a:hover {
  color: white;
}

.nav-1 {
  grid-column: 1;
}

.nav-2 {
  grid-column: 2;
}

.nav-3 {
  grid-column: 3;
}


.nav-links {
  font-size: 1.2em;
  padding-bottom: 0.6rem
}

@media screen and (max-width: 900px) {
  nav {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 2rem;
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
 }
 .nav-1, .nav-2 {
   padding-bottom: 1.3rem;
 }
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}


.text-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: 6rem;
  align-items: center;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin: 0 auto;
  font-family: 'Quicksand', sans-serif;
}

.text-1 img {
  width: 50%;
}

.text-1a {
  grid-column: 1;
  grid-row: 1;
}

.text-1b {
  grid-column: 2;
  grid-row: 2
}

.text-1a-img {
  grid-column: 2;
  grid-row: 1;
}

.text-1b-img {
  grid-column: 1;
  grid-row: 2;
}

.scroll-img1 {
  background-image: url(Images/img3.jpg);
  height: 50vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  box-shadow: 0 9px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text-2 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: 3rem;
  align-items: center;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin: 0 auto;
  font-family: 'Quicksand', sans-serif;
  width: 60%;
}


.text-2a {
  grid-row: 1;
}

.text-2b {
  grid-row: 2;
}

.btn3 {
  display: grid;
  width: 300px;
  height: 50px;
  border-radius: 30px;
  background-color: white;
  border: 1px solid #EC4733;
  transition: background-color 1s;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

.btn3:hover {
  background-color: #EC4733;
  color: white;
}

/* All CSS from this point on is part of the Learn the Basics page */

.hero-img2 {
    background-image: url(Images/heroimg2.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0 9px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hero-img2 h1 {
    text-align: center;
    margin: auto;
    padding: 37vh;
    font-size: 2.5rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: white;
}

.text-3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 6rem;
  align-items: center;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin: 0 auto;
  font-family: 'Quicksand', sans-serif;
}

.text-3 img {
  width: 100%;
}

.text-3a {
  grid-column: 1;
  grid-row: 1;
}

.text-3b {
  grid-column: 2;
  grid-row: 2;
}

.text-3c {
  grid-column: 1;
  grid-row: 3;
}

.text-3d {
  grid-column: 2;
  grid-row: 4;
}


.text-3a-img {
  grid-column: 2;
  grid-row: 1;
}
.text-3b-img {
  grid-column: 1;
  grid-row: 2;
}

.text-3c-img {
  grid-column: 2;
  grid-row: 3;
}

.text-3d-img {
  grid-column: 1;
  grid-row: 4;
}

@media screen and (max-width: 900px) {
  .text-3 {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 2rem;
    display: block;
 }
 .text-3 h1 {
   padding-top: 1rem;
   padding-bottom: 1rem;
 }
}

.scroll-img3 {
  background-image: url(Images/img4.jpg);
  height: 50vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  box-shadow: 0 9px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.scroll-img3 h2 {
  text-align: center;
  margin: 0 auto;
  padding: 20vh;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
}

@media screen and (max-width: 900px) {
  .scroll-img3 h2 {
  opacity: 0;
 }
}


 .text-4 {
   font-family: 'Quicksand', sans-serif;
   width: 50%;
   margin: auto;
 }

 .text-4 img {
   width: 375px;
   height: 667px;
 }

 .text-4 {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
   grid-auto-rows: auto;
   grid-gap: 6rem;
   align-items: center;
   text-align: center;
   padding-top: 2rem;
   padding-bottom: 2rem;
   padding-left: 3rem;
   padding-right: 3rem;
   width: 100%;
   margin: 0 auto;
   font-family: 'Quicksand', sans-serif;
 }

 .text-4a {
   grid-column: 1;
   grid-row: 1;
 }

 .text-4b {
   grid-column: 2;
   grid-row: 2;
 }


 .text-4a-img {
   grid-column: 2;
   grid-row: 1;
 }

 .text-4b-img {
   grid-column: 1;
   grid-row: 2;
 }

 @media screen and (max-width: 900px) {
    .text-1, .text-2, .text-3, .text-4 {
     grid-template-columns: 100%;
     grid-template-rows: auto;
     grid-gap: 2rem;
     display: block;
  }
  .text-1 h1, .text-2 h1, .text-3 h1, .text-4 h1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
 }

 /* All CSS from this point on is part of the ZapWorks page */

 .hero-img3 {
     background-image: url(Images/heroimg3.jpg);
     height: 100vh;
     background-position: center;
     background-size: cover;
     background-attachment: fixed;
     box-shadow: 0 9px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .hero-img3 h1 {
     text-align: center;
     margin: auto;
     padding: 37vh;
     font-size: 2.5rem;
     font-family: 'Nunito', sans-serif;
     font-weight: 400;
 }

 .text-5 {
   display: grid;
   grid-template-rows: repeat(3, 1fr);
   grid-auto-rows: auto;
   grid-gap: 3rem;
   align-items: center;
   text-align: center;
   padding-top: 5rem;
   padding-bottom: 5rem;
   margin: 0 auto;
   font-family: 'Quicksand', sans-serif;
 }

 .text-5 h1 {
   grid-row: 1;
   font-size: 1.8rem;
 }

 .text-5 h2 {
   grid-row: 2;
 }

 .btn {
   grid-row: 3;
   width: 300px;
   height: 50px;
   border-radius: 30px;
   background-color: white;
   border: 1px solid #EC4733;
   transition: background-color 1s;
   margin: 0 auto;
   text-align: center;
 }

 .btn:hover {
   background-color: #EC4733;
   color: white;
 }

 .text-6 {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-auto-rows: auto;
   grid-gap: 2rem;
   align-items: center;
   text-align: center;
   padding-top: 2rem;
   padding-bottom: 5rem;
   padding-left: 3rem;
   padding-right: 3rem;
   width: 100%;
   margin: 0 auto;
   font-family: 'Quicksand', sans-serif;
 }

 .text-6a-img {
   grid-column: 1;
 }

 .text-6a {
   grid-column: 2;
 }

 .text-6 h1 {
   padding-bottom: 1rem;
   font-size: 1.5rem;
 }

 .text-6 img {
   width: 100%;
 }

 .text-6a a {
   text-decoration: none;
   color: blue;
 }

.btn2 {
  display: grid;
  width: 300px;
  height: 50px;
  border-radius: 30px;
  background-color: white;
  border: 1px solid #EC4733;
  transition: background-color 1s;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

.btn2:hover {
  background-color: #EC4733;
  color: white;
}

.button2 {
  padding-bottom: 5rem;
}


@media screen and (max-width: 900px) {
   .text-1, .text-2, .text-3, .text-4, .text-6 {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 2rem;
    display: block;
 }

 .text-2, .text-5,{
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 3rem;
    display: block;
 }
 .text-1 h1, .text-2 h1, .text-3 h1, .text-4 h1, .text-6 h1, .text6 h2 {
   padding-top: 1rem;
   padding-bottom: 1rem;
 }
}

@media screen and (max-width: 927px) {
   .hero-img h1, .hero-img2 h1, .hero-img3 h1 {
     opacity: 0;
 }
}

#current_page {
  border-bottom: 5px solid white;
}
